.table {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background: grey;
}

.snake {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background: blue;
}

.target {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background: red;
}
